/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/_dev
.env
.env.backup
.env.test
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
gcloud-storage-bucket-service-key.json
supervisord.pid
/report
storage/logs/
